
table
{
    width: 100%;
    box-shadow: none;
}

.mat-column-question
{
    flex: 0 0 50% !important;
    width: 50% !important;
    padding-right: 0.5em !important;
}

.mat-column-answer
{
    flex: 0 0 50% !important;
    width: 50% !important;
}
